.garden {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
}

.garden-plants-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.garden-plant {
  position: absolute;
  font-size: 40px;
  transform-origin: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

.garden-plant:hover {
  transform: scale(1.5);
  color: #4CAF50;
}

/* Tooltip styling */
.garden-plant:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  width: 80px;
  bottom: 125%; /* Position above the plant */
  left: 50%;
  margin-left: -40px; /* Center the tooltip */
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 10px;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* Bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent; /* Arrow pointing down */
}

.garden-mood-message {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  color: #333;
  margin-top: 200px;
  text-align: center;
}

.garden-mood-header {
  font-family: monospace;
  margin-top: 0;
  text-decoration: none;
  color: #333;
}
.garden-link {
  font-family: monospace;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}
