/* HomePage Styling*/
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #faf8eb; /* Terminal background color */
  color: #F49595; /* Terminal text color */
  font-family: 'Courier New', Courier, monospace; /* Terminal-like font */
  text-align: center;
}

.home-page h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem; /* Adjustment for font size for visibility */
  margin-bottom: 1rem;
}

.home-page p {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 0.5rem;
}

.home-button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.home-button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #45a049;
}



@media (max-width: 600px) {
  .home-page h1 {
    font-size: 1.5rem;
  }

  .home-button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}