
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #faf8eb; /* Terminal background color */
  color: #F49595; /* Terminal text color */
  font-family: 'Courier New', Courier, monospace; /* Terminal-like font */
  text-align: center;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2px;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-button {
  background-color: #333; /* Button background color */
  color: #55996f; /* Button text color */
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace; /* Terminal-like font */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

