.mood-tracker {
  text-align: center;
  padding: 20px;
  transition: background-color 0.5s ease; /* Smooth background transition */
}

.mood-tracker h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.mood-tracker form {
  display: inline-block;
  text-align: left;
  margin-bottom: 20px;
}

.mood-tracker select {
  font-size: 1.2em;
  margin-left: 10px;
}

.mood-tracker button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #55996f;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mood-tracker button:hover {
  background-color: #0056b3;
}

.mood-tracker {
  text-align: center;
  padding: 20px;
}

.mood-options {
  margin-top: 20px;
}

.mood-options button {
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.mood-options a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
  margin-top: 20px;
  display: inline-block;
}
