/* .mood-tracker {
    text-align: center;
    padding: 20px;
  }
  
  .mood-tracker select {
    padding: 10px;
    font-size: 16px;
  }
  
  .mood-tracker button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .mood-display {
    margin-top: 20px;
  }
  
  .mood-plants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .mood-plant {
    font-size: 24px;
  }
 
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 5px;
  } */

  .mood-tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #FCD5CE;
    color: #7BCCB5;
    padding: 20px;
  }
  
  

