.motivational-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background: #faf8eb;
  margin: 0; /* Remove extra margins */
  position: relative; /* For absolute positioning of button-container */
}

.motivational-message {
  background-color: #2e2e2e; /* Terminal screen background color */
  color: #00ff00; /* Terminal text color */
  border: 1px solid #00ff00; /* Terminal border color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Glow effect */
  max-width: 90%; /* Increased to accommodate longer messages */
  padding: 20px;
  font-family: 'Courier New', Courier, monospace; /* Monospaced font for terminal look */
  margin-bottom: 60px; /* Space for the button */
  text-align: center; /* Center align the text */
  position: relative; /* For positioning the button-container */
}

.typing-animation {
  font-size: 1.5rem; /* Adjusted font size to fit terminal style */
  margin-bottom: 20px;
  white-space: pre-wrap; /* Allow text to wrap, respecting newlines */
  display: inline; /* Ensure text appears inline */
}

.blinking-cursor {
  display: inline-block;
  border-right: 0.15em solid #00ff00; /* Blinking cursor style */
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #00ff00; }
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensure it takes full width */
  position: fixed; /* Position fixed to keep it at the bottom of the viewport */
  bottom: 20px; /* Distance from the bottom of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center the button */
}

.button-container button {
  padding: 8px 16px;
  font-size: 0.9rem; /* Smaller font size for minimal design */
  background-color: #4CAF50; /* Button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #45a049; /* Button hover color */
}

.button-container button:focus {
  outline: none; /* Remove default outline */
}
