/* Ensure that styles only affect the MotivationalMessage component */
.motivational-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background: #faf8eb;
  margin: 0;
  position: relative; /* Ensure button container is positioned relative to this */
}

.motivational-message {
  background-color: #2e2e2e; /* Terminal screen background color */
  color: #00ff00; /* Terminal text color */
  border: 1px solid #00ff00; /* Terminal border color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Glow effect */
  max-width: 80%;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace; /* Monospaced font for terminal look */
  margin-bottom: 80px; /* Added space for buttons */
}

.typing-animation {
  font-size: 1.5rem; /* Adjusted font size to fit terminal style */
  margin-bottom: 20px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #00ff00; /* Cursor effect */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #00ff00; }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
  position: absolute; /* Absolute positioning for precise placement */
  bottom: 20px; /* Distance from bottom of the page */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for centering */
}

.button-container button {
  padding: 8px 16px;
  font-size: 0.9rem; /* Smaller font size for minimal design */
  background-color: #4CAF50; /* Button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #45a049; /* Button hover color */
}

.button-container button:focus {
  outline: none; /* Remove default outline */
}
