
.navbar {
  background-color: #f49595; /* Dark background for the navbar */
  color: #F8EDEB; /* White text */
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.navbar-brand h1 {
  font-size: 1.8rem;
  align-self: auto;
  margin: 0;
  color: #F8EDEB; /* color for the brand name */
  font-family: 'Courier New', Courier, monospace; /* Terminal-like font */
}

.navbar-links {
  list-style: none; /* Remove default list styling */
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links a {
  color: #F8EDEB; /* White text for links */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #FCD5CE; /*  color on hover */
}

/* Responsive styling */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: first baseline;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    margin: 0.5rem 600px;
  }
} 


