
.navbar {
  background-color: #55996f; /* Dark background for the navbar */
  color: #F8EDEB; /* White text */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.navbar-brand h1 {
  font-size: 1.8rem;
  align-self: auto;
  margin: 1px;
  color: #faf8eb; /* color for the brand name */
  font-family: 'Courier New', Courier, monospace; /* Terminal-like font */
}

.navbar-links {
  list-style: none; /* Remove default list styling */
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links a {
  color: #faf8eb; /* White text for links */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #FCD5CE; /*  color on hover */
}

